<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
    <title>Memory Aide</title>
    <script src="//code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    
	<link href="//gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<script src="//gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	
	<script src="memory.js" type="text/javascript"></script>
    <link rel="stylesheet" href="memory.css" type="text/css"/>
	
	<script type="text/template" class="word-row">
		<div class="form-group has-feedback">
			<div class="row">
				<div class="col-md-9">
					<label class="control-label sr-only" for="practice_input_0">Word #<%= (rc.num+1)%></label>
					<div class="input-group">
						<span class="input-group-addon">
							<input class="autocheck" type="checkbox">
						</span>
						<input name="practice_input_<%= rc.num%>" tabindex="1" class="word form-control" id="practice_input_<%= rc.num%>" aria-describedby="practice_input_<%= rc.num%>_status" type="text" rel="<%= rc.word%>" next="practice_input_<%= (rc.num+1)%>" autocomplete="off">
					</div>
					<span class="glyphicon form-control-feedback glyphicon-warning-sign" aria-hidden="true"></span>
					<span class="sr-only" id="practice_input_<%=rc.num%>_status"></span>
				</div>
				<div class="col-md-3">
					<div class="btn-group">
						<button class="btn btn-default help-btn" type="button">Hint</button>
						<button class="btn btn-default all-btn" type="button">Reveal</button>
					</div>
				</div>
			</div>
		</div>
	</script>
	
</head>
<body>
<div class="container">
<form id="input_form">
	<fieldset>
	<legend>Enter Text</legend>
		<div class="row col-md-12">
			<span style="font-weight: bold">Instructions:</span> Enter the entire text that you would like to memorize then click "Start."<br><br>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-md-12">
					<label for="full_text">Enter Text to Memorize:</label>
					<textarea class="form-control" id="full_text" name="full_text"></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<button type="submit" class="btn btn-default">Start</button>
			</div>
		</div>
	</fieldset>
</form>

<form id="practice_form" class="form" style="display:none">
	<fieldset>
	<legend>Practice</legend>
	<div class="row col-md-12">
		<span style="font-weight: bold">Instructions:</span> Type the word in the box and press enter. If you enter the correct value, then you will automatically be moved to the next word. If you have not entered the correct value, you will remain at the current word.<br><br>
		At any time you can press the "Hint" button to reveal the next letter, or the "Reveal" button to reveal the entire word. You can utilize the check box to the left of the word to make a note of any words you had trouble with.<br><br>
		When you are finished, press the "Reset" button to start over.<br><br>
		<div class="form-group">
		<label>Show First Letter: <input id="show_first_letter" type="checkbox" checked data-toggle="toggle" data-size="small"></label><br><br>
		</div>
	</div>
	<div class="row col-md-12">
		<div id="practice_inputs">
			
		</div>
	</div>
    <button type="reset" name="Clear" id="clear_practice" class="btn btn-default">Reset</button>
	</fieldset>
</form>
</div>
</body>
</html>
